
/* can use vw / vh to scale sizes as */
/* will probably want to use breakpoints i think? */
.calendar-rows {
    width: 63em;
}
.calendar-rows-mobile {
    width: 27em;
}

.day {
    aspect-ratio: 1 / 1;
    width: 8em;
    border-radius: 0.5em;
    padding: 0px;
    margin: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: default;
}

.available {
    background-color: rgba(23, 157, 32, 0.2);
    box-shadow: rgba(23, 157, 32, 0.6) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(23, 157, 32, 0.3);
}

.offered {
    background-color: rgba(23, 70, 157, 0.2);
    box-shadow: rgba(23, 70, 157, 0.6) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(23, 32, 157, 0.8);
}

.taken {
    background-color: rgba(120, 15, 15, 0.2);
    box-shadow: rgba(120, 15, 15, 0.6) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(120, 15, 15, 0.8);
}

.requested {
    background-color: rgba(183, 192, 50, 0.2);
    box-shadow: rgba(113, 120, 15, 0.6) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(113, 120, 15, 0.8);
}

.day-date-text {
    height: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.select-box {
    font-size: 14px;
    height: 3.4em;
    line-height: 3.4em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    bottom: 0;
    cursor: pointer;
}

.disabled {
    color:rgba(65, 64, 64, 0.644);
    cursor: default;
}

.select-box-lower {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.day-name {
    margin-left: 0.3em;
    margin-top: 0.1em;
}

.date {
    margin-right: 0.3em;
    margin-top: 0.1em;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.28%;
    padding: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}

.hvr-grow2:hover,
.hvr-grow2:focus,
.hvr-grow2:active {
    transition-duration: 0.2s;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-grow3 {
    transition: all 0.3s ease-in-out;
}

.hvr-grow3:hover,
.hvr-grow3:focus,
.hvr-grow3:active {
    transform: scale(1.15);
}


.dropoff-btns-enter {
  opacity: 0;
}

.dropoff-btns-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.dropoff-btns-exit {
  opacity: 1;
}

.dropoff-btns-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.row {
    max-width: 1100px;
}

.svg-arrow {
    max-width: 2em;
    margin-left: 0.5em;
    cursor: pointer;
    padding-left: 0;
    padding-top: 0.5em;
}

.info-box {
    white-space: normal;
    word-wrap: break-word;
    padding-left: 0.5em;
    padding-right: 0.3em;
}

.dropdown-toggle::after {
    display: none !important; 
  }

.message-item {
    display: flex;
    flex-direction: row;
    cursor: default;
}

.read-message {
    --bs-dropdown-link-hover-bg: #F4F6F7;
}

.read-notification {
    color: #F4F6F7;
}

.notification-circle {
    display: flex;
    margin-right: 1em;
    max-width: 14;
    width: 14;
    padding: 0;
    align-items: center;
}

.messages {
    max-height: 24em;
    overflow-y: scroll;
}

.ellipsis {
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 25rem;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form {
    padding: 2em;
}

.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    margin-top: 2em;
    margin-bottom: 2em;
}

.divider2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.register {
    display: flex;
    justify-content: center;
}

.info {
    padding-right: 0.85em;
}

.register-form > .row > .col {
    margin-bottom: 0.5rem;
}

.forgot-link {
    color: var(--bs-link-color);
    cursor: pointer;
}

.forgot-link:hover {
    color: var(--bs-link-hover-color);
}

.request-btn {
    margin-bottom: 0.5em;
}

.bottom-btn {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}