
/* can use vw / vh to scale sizes as */
/* will probably want to use breakpoints i think? */
.day {
    aspect-ratio: 1 / 1;
    width: 8em;
    /* width: 18vw; */
    border-radius: 0.5em;
    padding: 0px;
    margin: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: default;
}

.available {
    box-shadow: rgba(23, 157, 32, 0.8) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(23, 157, 32, 0.3);
}

.offered {
    box-shadow: rgba(23, 70, 157, 0.8) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(23, 32, 157, 0.8);
}

.requested {
    /* color: rgba(113, 120, 15, 0.8); */
    box-shadow: rgba(113, 120, 15, 0.8) 0px 3px 8px;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(113, 120, 15, 0.8);
}

.day-date-text {
    height: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.select-box {
    font-size: 14px;
    height: 3.4em;
    line-height: 3.4em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    bottom: 0;
    cursor: pointer;
}

.disabled {
    color:rgba(65, 64, 64, 0.644);
    cursor: default;
}

.select-box-lower {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.day-name {
    /* float: left; */
    margin-left: 0.3em;
    margin-top: 0.1em;
}

.date {
    /* float: right; */
    margin-right: 0.3em;
    margin-top: 0.1em;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.28%;
    padding: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}

.hvr-grow2:hover,
.hvr-grow2:focus,
.hvr-grow2:active {
    transition-duration: 0.2s;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
}


.dropoff-btns-enter {
  opacity: 0;
}

.dropoff-btns-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.dropoff-btns-exit {
  opacity: 1;
}

.dropoff-btns-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* .dropoff-btns-exit-done {
    visibility: hidden;
} */

.row {
    max-width: 1100px;
}

.arrow {
    aspect-ratio: 1 / 1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    width: 2em;
    margin: 0.2em;
    border-radius: 2em;
    /* border-style: solid; */
    /* border-width: 1.5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calendar-trans-enter {
    transform: scale(0.9);
  }
  
.calendar-trans-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
/* transition: opacity 2000ms; */
}
  
.calendar-trans-exit {
    opacity: 1;
}
  
.calendar-trans-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}