doctype html
html
  head
    title=title 
    link(rel='stylesheet', href='/post-api-public/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/post-api-public/stylesheets/main.css')
  body 
    .container.reset-container 
      .row.info-box 
        .col.reset-form
          h1.reset-h1 Balmoral House Postal Collective
          div.reset-item.form-group
            p In the past, packages in this hallway have been stolen.
            p One way to prevent this from happening is to deliver parcels to a neighbour who is home that day. However, that is difficult to organise.
            p That's why I've created a free website to do exactly that.
            p It's a simple website where you can offer to pickup parcels for your neighbours, or request a neighbour to collect your parcel on days they are available.
            p
              | Visit 
              a(href="https://www.mattlyon.co.uk/post") www.mattlyon.co.uk/post 
              | to sign up.
            p 
              | If you have any questions, feel free to email 
              a(href="emailto: balmoral.post@gmail.com") balmoral.post@gmail.com
              |.
