doctype html
html
  head
    title=title 
    link(rel='stylesheet', href='/post-api-public/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/post-api-public/stylesheets/main.css')
  body 
    .container.reset-container 
      .row.info-box 
        .col.reset-form
          h1.reset-h1 Balmoral House Postal Collective
          div.reset-item.form-group
            p Hi NAME,
            p
              | Your verification code is 
              a(href="") CODE
              | , log onto 
              a(href="https://www.mattlyon.co.uk/post") www.mattlyon.co.uk/post 
              | to finish registering.
            p Please be advised, only a small number of people have signed up so far. We will update you via email when more people have joined.
