.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-box {
    /* aspect-ratio: 1 / 1; */
    width: 25rem;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reset-form {
    padding: 2em;
}