.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-box {
    width: 25rem;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info-box {
    width: 30rem;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reset-form {
    padding: 2em;
}

.reset-h1 {
    margin-bottom: 1rem;
}

.reset-item {
    margin-bottom: 1rem;
}
